* {
  margin: 0;
  padding: 0;
  outline: none;
}

.body {
  width: 1600px;
}

.container__content {
  width: 100%;
  margin: 0 auto;
}

.header .top__info {
  display: flex;
  justify-content: space-between;
}
.header .logo__search {
  display: flex;
  margin-top: 25px;
  width: 59px;
  height: 51px;
  margin-left: 227px;
  align-items: center;
}
.header .logo__search .logo__text {
  padding-left: 13px;
  padding-right: 37px;
  text-decoration: none;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.header .logo__search .logo__text .logo__text__D {
  font-weight: 900;
  color: #f16d7f;
}
.header .logo__search .menu__search {
  display: flex;
  align-items: center;
}
.header .logo__search .menu__search .browse__button {
  width: 87px;
  height: 36px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
  position: relative;
}
.header .logo__search .menu__search .browse__button .browse__button__item {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  width: 200%;
  text-align: left;
  padding: 15px;
  top: 33px;
  z-index: 10000;
}
.header .logo__search .menu__search .browse__button .browse__button__item .browse__button__heading {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
}
.header .logo__search .menu__search .browse__button .browse__button__item .browse__button__link {
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
  text-decoration: none;
  margin-top: 8px;
  transition: all 0.3s;
}
.header .logo__search .menu__search .browse__button .browse__button__item .browse__button__link:hover {
  color: #f16d7f;
}
.header .logo__search .menu__search .browse__button:hover .browse__button__item {
  display: flex;
}
.header .logo__search .menu__search .search {
  display: flex;
  max-height: 38px;
}
.header .logo__search .menu__search .search .search__input {
  width: 317px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding-left: 16px;
}
.header .logo__search .menu__search .search .search__button {
  display: flex;
  width: 27px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  align-items: center;
  justify-content: space-around;
}
.header .cart__acc {
  display: flex;
  align-items: center;
  margin-top: 26px;
}
.header .cart__acc .cart {
  width: 32px;
  height: 29px;
  padding-right: 60px;
}
.header .cart__acc .acc__menu {
  margin-right: 230px;
}
.header .cart__acc .acc__menu .dropbtn {
  position: relative;
  border: none;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.header .cart__acc .acc__menu .acc__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
  text-decoration: none;
  margin-top: 8px;
  top: 60px;
}
.header .cart__acc .acc__menu .acc__link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  transition: all 0.3s;
}
.header .cart__acc .acc__menu .acc__link:hover {
  color: #f16d7f;
}
.header .acc__menu:hover .acc__content {
  display: flex;
  flex-direction: column;
}

.navigation .menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.navigation .menu__list {
  padding: 20px 25px;
  position: relative;
}
.navigation .menu__link {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation .mega__box {
  display: none;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 10000;
}
.navigation .mega__box .mega__item {
  margin-right: 46px;
}
.navigation .mega__box .mega__item:last-of-type {
  margin-right: 0;
}
.navigation .mega__box .mega__heading {
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
}
.navigation .mega__box .mega__link {
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  display: block;
  margin-top: 8px;
  transition: all 0.3s;
}
.navigation .mega__box .mega__link:hover {
  color: #f16d7f;
}
.navigation .mega__box:before {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  background-color: #ffffff;
  position: absolute;
  top: -7px;
  left: 35px;
  transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
.navigation .menu__list:hover .mega__box {
  display: flex;
}
.navigation .last:hover .mega__box {
  right: 0;
  left: auto;
}
.navigation .last:hover .mega__box:before {
  right: 55px;
  left: auto;
}

.content {
  padding-top: 24px;
}
.content .brand__banner {
  height: 665px;
  background-image: url(images/brand_banner_bg.png);
  background-repeat: no-repeat;
  background-color: #e8e8e8;
}
.content .brand__banner .brand__banner__text {
  display: flex;
  margin-left: 230px;
  padding-top: 276px;
}
.content .brand__banner .vertline {
  margin-right: 12px;
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}
.content .brand__banner .text__box {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  line-height: 0.8;
}
.content .brand__banner .text__heading {
  font-family: Lato;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.content .brand__banner .text__banner {
  font-family: Lato;
  font-size: 40px;
}
.content .brand__banner .text__fashion {
  font-family: Lato;
  font-size: 40px;
  color: #f16d7f;
}
.content .card__block {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.content .card__block .card__block__left {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
}
.content .card__block .card__block__left__big {
  width: 560px;
  height: 542px;
  background-image: url(images/card_block_left_big_bg.png);
}
.content .card__block .card__block__left__big .card__block__left__text {
  margin-top: 26px;
  width: 175px;
  height: 82px;
  background-color: #ffffff;
}
.content .card__block .card__block__left__big .card__block__left__text__content {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 16px;
}
.content .card__block .card__block__left__big .for__men {
  font-family: Lato;
  font-size: 30px;
  color: #f16d7f;
}
.content .card__block .card__block__left__small {
  width: 560px;
  height: 261px;
  background-image: url(images/card_block_left_small_bg.png);
  margin-top: 20px;
}
.content .card__block .card__block__left__small .card__block__left__small__text {
  margin-top: 25px;
  width: 225px;
  height: 82px;
  background-color: #fff;
}
.content .card__block .card__block__left__small .card__block__left__small__text__content {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 16px;
}
.content .card__block .card__block__left__small .accesories {
  font-size: 30px;
  color: #f16d7f;
}
.content .card__block .card__block__right {
  display: flex;
  flex-direction: column;
}
.content .card__block .card__block__right .card__block__right__small {
  width: 560px;
  height: 261px;
  background-image: url(images/card_block_right_small_bg.png);
  margin-top: 98px;
  margin-left: 21px;
}
.content .card__block .card__block__right .card__block__right__small .card__block__right__small__text {
  margin-top: 26px;
  width: 162px;
  height: 82px;
  background-color: #ffffff;
}
.content .card__block .card__block__right .card__block__right__small .card__block__right__small__text__content {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 16px;
}
.content .card__block .card__block__right .card__block__right__small .women {
  font-size: 30px;
  color: #f16d7f;
}
.content .card__block .card__block__right .card__block__right__big {
  width: 560px;
  height: 542px;
  background-image: url(images/card_block_right_big_bg.png);
  margin-top: 20px;
  margin-left: 20px;
}
.content .card__block .card__block__right .card__block__right__big .card__block__right__big__text {
  width: 180px;
  height: 82px;
  background-color: #ffffff;
  margin-top: 27px;
}
.content .card__block .card__block__right .card__block__right__big .card__block__right__big__text__content {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 16px;
}
.content .card__block .card__block__right .card__block__right__big .for__kids {
  font-size: 30px;
  color: #f16d7f;
}
.content .featured__items {
  padding-top: 100px;
}
.content .featured__items .featured__items__header {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
}
.content .featured__items .featured__text {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.content .featured__items .featured__items__top {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 232px;
  margin-right: 229px;
}
.content .featured__items .featured__items__card {
  display: flex;
  position: relative;
  transition: all 0.3s;
}
.content .featured__items .txt__box {
  padding: 15px;
}
.content .featured__items .featured__items__card:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.content .featured__items .featured__items__card:hover .item__img {
  filter: brightness(50%);
}
.content .featured__items .featured__items__link {
  display: block;
  text-decoration: none;
}
.content .featured__items .item__img {
  width: 100%;
  transition: all 0.3s;
}
.content .featured__items .add__box {
  position: absolute;
  top: 98px;
  width: 100%;
  display: none;
  justify-content: center;
}
.content .featured__items .featured__items__buy {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.content .featured__items .featured__items__buy .add__text {
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  margin: 0 auto;
  margin-left: 8px;
}
.content .featured__items .featured__items__buy:hover {
  box-shadow: 0 0px 10px #ffffff;
}
.content .featured__items .featured__items__card:hover .add__box {
  display: flex;
}
.content .featured__items .featured__items__text {
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.content .featured__items .featured__items__price {
  margin-top: 20px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.content .featured__items .featured__items__bot {
  display: flex;
  margin-top: 120px;
  margin-left: 232px;
  margin-right: 229px;
  justify-content: space-between;
}
.content .browse__all__products {
  margin-top: 140px;
  display: flex;
  justify-content: center;
}
.content .browse__all__products .browsebtn {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  border: none;
  transition: all 0.3s;
}
.content .browse__all__products .browsebtn__text {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}
.content .browse__all__products .browsebtn:hover {
  background-color: #FFFFFF;
  border: 1px solid #f16d7f;
}
.content .browse__all__products .browsebtn:hover .browsebtn__text {
  color: #f16d7f;
}
.content .info__banner {
  margin-top: 115px;
  display: flex;
  justify-content: center;
}
.content .info__banner .discount__info {
  background-image: url(images/discount_info_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 765px;
  height: 530px;
}
.content .info__banner .discount__info__text {
  color: #ffffff;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
  margin-top: 145px;
  margin-left: 40px;
  line-height: 40px;
}
.content .info__banner .discount__info__text .discount__info__offer {
  color: #f16d7f;
  letter-spacing: 1.5px;
}
.content .info__banner .discount__info__text .discount__info__women {
  font-size: 32px;
  letter-spacing: 0.9px;
}
.content .info__banner .delivery__info {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  width: 340px;
  background-color: #222224;
  height: 530px;
}
.content .info__banner .delivery__info .delivery {
  margin-top: 15px;
  display: flex;
}
.content .info__banner .delivery__info .delivery .delivery__img {
  width: 45px;
  height: 30px;
}
.content .info__banner .delivery__info .delivery .delivery__heading {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
}
.content .info__banner .delivery__info .delivery .delivery__text {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 15px;
  margin-right: 40px;
}
.content .info__banner .delivery__info .sale__info {
  margin-top: 55px;
  display: flex;
}
.content .info__banner .delivery__info .sale__info .sale__img {
  width: 40px;
  height: 40px;
}
.content .info__banner .delivery__info .sale__info .sale__info__heading {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
  padding-top: 8px;
}
.content .info__banner .delivery__info .sale__info .sale__info__text {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 15px;
  margin-right: 40px;
}
.content .info__banner .delivery__info .quality__info {
  margin-top: 55px;
  display: flex;
}
.content .info__banner .delivery__info .quality__info .quality__img {
  width: 45px;
  height: 35px;
}
.content .info__banner .delivery__info .quality__info .quality__info__heading {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
  padding-top: 8px;
}
.content .info__banner .delivery__info .quality__info .quality__info__text {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 15px;
  margin-right: 40px;
}
.content .item__breadcrumb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f3f4;
  height: 150px;
}
.content .item__breadcrumb .item__header {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}
.content .item__breadcrumb .breadcrumb {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.content .item__breadcrumb .breadcrumb .breadcrumb__item__link {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
  transition: all 0.3s;
}
.content .item__breadcrumb .breadcrumb .active {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.content .item__breadcrumb .breadcrumb .breadcrumb__item__link:hover {
  font-weight: 700;
  color: #f16d7f;
}
.content .item__img__sp {
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  position: relative;
}
.content .carousel__btn {
  width: 45px;
  height: 45px;
  background-color: rgba(42, 42, 42, 0.14);
}
.content .hr {
  margin-top: 755px;
  color: #ffffff;
}
.content .item__desc {
  position: absolute;
  left: 22%;
  margin-top: -45px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  height: 730px;
}
.content .item__desc .item__desc__header {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  border-bottom: 1px solid #eaeaea;
  margin-top: 70px;
  padding-bottom: 15px;
}
.content .item__desc .item__desc__heading {
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 20px;
}
.content .item__desc .item__desc__text {
  width: 50%;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  margin-top: 65px;
  text-align: center;
}
.content .item__desc .item__desc__matDes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.content .item__desc .item__desc__matDes .item__desc__material {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
  margin-right: 5%;
}
.content .item__desc .item__desc__matDes .item__desc__material .material {
  color: #2f2f2f;
}
.content .item__desc .item__desc__matDes .item__desc__designer {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}
.content .item__desc .item__desc__matDes .item__desc__designer .designer {
  color: #2f2f2f;
}
.content .item__desc .item__desc__price {
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  margin-top: 40px;
}
.content .item__specs {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}
.content .item__specs .item__specs__type {
  display: flex;
  justify-content: space-evenly;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
}
.content .item__specs__input__color {
  width: 85%;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  outline: none;
  padding-left: 5px;
}
.content .item__specs__input__size {
  width: 85%;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  outline: none;
  padding-left: 5px;
}
.content .item__specs__input__quantity {
  width: 85%;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  outline: none;
  padding-left: 5px;
}
.content .item__specs__color {
  display: flex;
  flex-direction: column;
}
.content .item__specs__size {
  display: flex;
  flex-direction: column;
}
.content .item__specs__quantity {
  display: flex;
  flex-direction: column;
}
.content .item__specs__buy {
  outline: none;
  background-color: #ffffff;
  border: 1px solid #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #636363;
  height: 55px;
  transition: all 0.3s;
  margin-top: 30px;
}
.content .item__specs__buy:hover {
  color: #ef5b70;
  border-color: #ef5b70;
}
.content .item__specs__cart {
  margin-right: 15px;
}
.content .suggestions__items__header {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
}
.content .details {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.content .details .details__info {
  width: 55%;
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8;
}
.content .details .summary {
  list-style-type: none;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 40px;
  margin-top: 30px;
  transition: all 0.3s;
}
.content .details .summary:hover {
  color: #f16d7f;
}
.content .checkout__box {
  display: flex;
  padding-left: 35px;
  padding-bottom: 80px;
}
.content .checkout__box .shipping__address__header {
  display: flex;
  flex-direction: column;
}
.content .checkout__box .shipping_address__heading {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 15px;
}
.content .checkout__box .shipping__address__header__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  padding-bottom: 15px;
}
.content .checkout__box .shipping__address__info__heading {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-top: 15px;
}
.content .checkout__box .shipping__address__info__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-top: 10px;
}
.content .checkout__box .checkout__type {
  display: flex;
  flex-direction: column;
}
.content .checkout__box .checkout__as__guest {
  display: flex;
  padding-bottom: 10px;
}
.content .checkout__box .checkout__as__guest .checkout__as__guest__text {
  padding-left: 15px;
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.content .checkout__box .checkout__register {
  display: flex;
  padding-bottom: 10px;
}
.content .checkout__box .checkout__register .checkout__register__text {
  padding-left: 15px;
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.content .checkout__box .fa-angle-double-right {
  font-size: 13px;
  line-height: 20px;
}
.content .checkout__box .auth__prefs {
  margin-top: 15px;
}
.content .checkout__box .auth__prefs .auth__prefs__info {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.content .checkout__box .auth__prefs .auth__prefs__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  padding-left: 5px;
}
.content .checkout__box .submit__btn {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  transition: all 0.3s;
}
.content .checkout__box .submit__btn .submit__btn__confirm {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  transition: all 0.3s;
}
.content .checkout__box .submit__btn:hover {
  background-color: #f16d7f;
}
.content .checkout__box .submit__btn:hover .submit__btn__confirm {
  color: #FFFFFF;
}
.content .login__form {
  margin-left: 25%;
}
.content .login__form .login__form__info .login__form__info__heading {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.content .login__form .login__form__info .login__form__info__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-top: 5px;
}
.content .login__form .login__form__info__email .login__form__email__text {
  font-family: Lato;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: #222222;
  margin-top: 15px;
  margin-bottom: 5px;
}
.content .login__form .login__form__info__email .login__form__email__\* {
  font-family: Lato;
  font-size: 17px;
  line-height: 20px;
  font-weight: 4400;
  color: #ff0d0d;
}
.content .login__form .login__form__info__password .login__form__password__text {
  font-family: Lato;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: #222222;
  margin-top: 15px;
  margin-bottom: 5px;
}
.content .login__form .login__form__info__password .login__form__password__\* {
  font-family: Lato;
  font-size: 17px;
  line-height: 20px;
  font-weight: 4400;
  color: #ff0d0d;
}
.content .login__form .login__form__input {
  height: 45px;
  width: 150%;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 5px;
}
.content .login__form .login__form__required__fields {
  color: red;
  margin-top: 10px;
}
.content .login__form .submit__btn__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  width: 200%;
}
.content .login__form .submit__btn__box .submit__btn__login {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  width: 60%;
}
.content .login__form .submit__btn__box .submit__btn__link {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  transition: all 0.3s;
}
.content .login__form .submit__btn__login:hover {
  background-color: #f16d7f;
}
.content .login__form .submit__btn__login:hover .submit__btn__link {
  color: #FFFFFF;
}
.content .login__form .forgot__password .forgot__password__link {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  transition: all 0.3s;
}
.content .login__form .forgot__password:hover .forgot__password__link {
  color: #f16d7f;
}
.content .shopping__cart {
  margin-left: 15%;
  margin-top: 90px;
}
.content .shopping__cart .shopping__cart__header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.content .shopping__cart .shopping__cart__header .shopping__cart__header__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}
.content .shopping__cart .shopping__cart__header__specs {
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}
.content .shopping__cart .shopping__cart__item {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.content .shopping__cart .shopping__cart__item .shopping__cart__item__desc {
  display: flex;
}
.content .shopping__cart .shopping__cart__item .shopping__cart__item__text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.content .shopping__cart .shopping__cart__item__heading__link {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
  transition: all 0.3s;
}
.content .shopping__cart .shopping__cart__item__heading__link:hover {
  color: #f16d7f;
}
.content .shopping__cart .shopping__cart__item__color {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: #575757;
  margin-top: 40px;
}
.content .shopping__cart .shopping__cart__item__color__text {
  font-weight: 300;
  color: #6f6e6e;
}
.content .shopping__cart .shopping__cart__item__size {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: #575757;
}
.content .shopping__cart .shopping__cart__item__size__text {
  font-weight: 300;
  color: #6f6e6e;
}
.content .shopping__cart .shopping__cart__item__specs {
  display: flex;
  justify-content: space-between;
  width: 60%;
  flex-grow: 1;
  margin-left: 20%;
}
.content .shopping__cart .shopping__cart__item .shopping__cart__specs__item__input {
  width: 100%;
  padding-left: 5px;
  outline: none;
}
.content .shopping__cart .shopping__cart__item .input__item {
  width: 5%;
}
.content .shopping__cart .shopping__cart__item .fa-times-circle {
  transition: all 0.3s;
}
.content .shopping__cart .shopping__cart__item .fa-times-circle:hover {
  color: #f16d7f;
}
.content .shopping__cart__submit {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  width: 73%;
  margin-left: 15%;
}
.content .shopping__cart__submit__address {
  display: flex;
  flex-direction: column;
}
.content .shopping__cart__submit__address__city {
  margin-top: 25px;
  width: 150%;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 15px;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: #b1b1b1;
}
.content .shopping__cart__submit__address__heading {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.content .shopping__cart__submit__address__state {
  margin-top: 25px;
  width: 150%;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 15px;
}
.content .shopping__cart__submit__address__zip {
  margin-top: 25px;
  width: 150%;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 15px;
}
.content .shopping__cart__submit__address__btn {
  padding: 10px;
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
  transition: all 0.3s;
  margin-top: 25px;
  width: 45%;
  background-color: #ffffff;
}
.content .shopping__cart__submit__address__btn:hover {
  background-color: #f16d7f;
  color: #FFFFFF;
}
.content .shopping__cart__submit__coupon {
  display: flex;
  flex-direction: column;
}
.content .shopping__cart__submit__coupon__heading {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.content .shopping__cart__submit__coupon__text {
  margin-top: 30px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}
.content .shopping__cart__submit__coupon__input {
  margin-top: 25px;
  width: 150%;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 15px;
}
.content .shopping__cart__submit__coupon__btn {
  padding: 10px;
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
  transition: all 0.3s;
  margin-top: 25px;
  width: 45%;
  background-color: #ffffff;
}
.content .shopping__cart__submit__coupon__btn:hover {
  background-color: #f16d7f;
  color: #FFFFFF;
}
.content .shopping__cart__submit__checkout {
  width: 30%;
  height: 255px;
  background-color: #f5f3f3;
  display: flex;
  flex-direction: column;
}
.content .shopping__cart__submit__checkout__total {
  display: flex;
  text-align: right;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid #e2e2e2;
  width: 80%;
  margin-left: 10%;
}
.content .shopping__cart__submit__checkout__total__subtotal {
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.content .shopping__cart__submit__checkout__total__grandtotal {
  margin-top: 15px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.content .shopping__cart__submit__checkout__total__grandtotal__price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}
.content .shopping__cart__submit__checkout__btn {
  margin-top: 20px;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  width: 80%;
  margin-left: 10%;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s;
}
.content .shopping__cart__submit__checkout__btn:hover {
  border: 1px solid #f16d7f;
  background-color: #FFFFFF;
  color: #f16d7f;
}
.content .shopping__cart__options {
  display: flex;
  justify-content: space-between;
  width: 73%;
  margin-left: 15%;
  margin-top: 45px;
}
.content .shopping__cart__options__clear {
  border: 1px solid #eaeaea;
  padding: 20px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  transition: all 0.3s;
}
.content .shopping__cart__options__continue {
  border: 1px solid #eaeaea;
  padding: 20px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  transition: all 0.3s;
}
.content .shopping__cart__options__clear:hover {
  background-color: #f16d7f;
  color: #FFFFFF;
}
.content .shopping__cart__options__continue:hover {
  background-color: #f16d7f;
  color: #FFFFFF;
}
.content .product {
  display: flex;
  margin-left: 20%;
  margin-top: 70px;
}
.content .product__filter {
  display: flex;
  justify-content: space-between;
}
.content .product__filter__trend {
  padding-left: 10%;
}
.content .product__filter__trend__heading {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.content .product__filter__trend__text__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}
.content .product__filter__trend__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
  border-right: 1px solid #dfdfdf;
  padding: 0 15px 0 5px;
  transition: all 0.3s;
}
.content .product__filter__trend__text:last-child {
  border: none;
}
.content .product__filter__trend__text:hover {
  color: #f16d7f;
}
.content .product__filter__size {
  padding-left: 10%;
}
.content .product__filter__size__heading {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.content .product__filter__size__checkbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}
.content .product__filter__size__checkbox__item {
  padding-left: 5px;
}
.content .product__filter__size__checkbox__label {
  padding-left: 5px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.content .product__filter__price {
  padding-left: 10%;
}
.content .product__filter__price__heading {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.content .product__filter__price__range {
  margin-top: 25px;
}
.content .product__filter__price__range__minmax {
  display: flex;
  justify-content: space-between;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.content .product__filter__sort {
  margin-top: 45px;
  margin-left: 10%;
}
.content .product__filter__sort__name {
  display: flex;
  width: 17%;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}
.content .product__filter__sort__name__text {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}
.content .product__box {
  margin-left: 10%;
}
.content .product__category {
  display: flex;
  flex-direction: column;
}
.content .product__category__list {
  margin-bottom: 20px;
}
.content .product__category__list__heading {
  border-left: 5px solid #f16d7f;
  padding-left: 15px;
  height: 40px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  list-style-type: none;
  align-items: center;
  display: flex;
  transition: all 0.3s;
  border-bottom: 1px solid #ebebeb;
  width: 150%;
}
.content .product__category__list__heading:hover {
  color: #f16d7f;
}
.content .product__category__list__text {
  padding-left: 15px;
  margin-top: 15px;
  font-family: Lato;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
  transition: all 0.3s;
}
.content .product__category__list__text:hover {
  color: #f16d7f;
}

.footer .subscribe__review {
  display: flex;
  background-image: url(images/subscribe_review_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 435px;
  margin-top: 97px;
  justify-content: space-evenly;
  margin-left: -15px;
}
.footer .review {
  width: 800px;
  border-right: 1px solid #ffffff;
}
.footer .review .review__figure {
  display: flex;
  margin-top: 110px;
  justify-content: center;
}
.footer .review .review__figure .figure__text {
  margin-left: 28px;
  margin-right: 70px;
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
}
.footer .review .review__figure .figure__text .figure__heading {
  margin-top: 20px;
  color: #222224;
  font-family: "Lato Light";
  font-size: 12px;
  font-weight: 300;
  line-height: 6px;
}
.footer .review .review__figure .figure__text .figure__heading .figure__heading__color {
  color: #f16d7f;
  font-family: "Lato - Bold";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: 26px;
}
.footer .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .subscribe .subscribe__heading {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 35px;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 400;
}
.footer .subscribe .subscribe__text {
  letter-spacing: 0.35px;
  font-family: Lato;
  font-weight: 400;
  text-align: center;
}
.footer .subscribe .subscribe__form {
  display: flex;
  margin-top: 35px;
  height: 45px;
}
.footer .subscribe .subscribe__form .subscribe__input {
  width: 335px;
  border-radius: 20px 0 0 20px;
  background-color: #e1e1e1;
  border: 0px;
  padding-left: 25px;
}
.footer .subscribe .subscribe__form .subscribe__button {
  width: 105px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: 0px;
  transition: all 0.3s;
}
.footer .subscribe .subscribe__form .subscribe__button:hover {
  color: #f16d7f;
  background-color: #FFFFFF;
  border: 1px solid #f16d7f;
  font-weight: 700;
}
.footer .footer__info {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 110px;
}
.footer .footer__info .brand__info {
  display: flex;
  flex-direction: column;
  margin-left: 225px;
}
.footer .footer__info .brand__logo {
  display: flex;
  align-items: center;
}
.footer .footer__info .brand__logo .logo__text {
  padding-left: 13px;
  padding-right: 37px;
  text-decoration: none;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.footer .footer__info .brand__logo .logo__text .logo__text__D {
  font-weight: 900;
  color: #f16d7f;
}
.footer .footer__info .brand__text {
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  width: 425px;
  margin-right: 65px;
  margin-top: 45px;
}
.footer .footer__info .useful__info {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  margin-top: 30px;
}
.footer .footer__info .useful__info .company {
  display: flex;
  flex-direction: column;
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}
.footer .footer__info .useful__info .company .company__list {
  margin-top: 45px;
  list-style-type: none;
}
.footer .footer__info .useful__info .company .company__list .company__link {
  text-decoration: none;
  margin-bottom: 15px;
  color: #898989;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}
.footer .footer__info .useful__info .company .company__list .company__link:hover {
  color: #f16d7f;
}
.footer .footer__info .useful__info .information {
  display: flex;
  flex-direction: column;
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}
.footer .footer__info .useful__info .information .information__list {
  margin-top: 45px;
  list-style-type: none;
}
.footer .footer__info .useful__info .information .information__list .information__link {
  text-decoration: none;
  margin-bottom: 15px;
  color: #898989;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}
.footer .footer__info .useful__info .information .information__list .information__link:hover {
  color: #f16d7f;
}
.footer .footer__info .useful__info .shop__category {
  display: flex;
  flex-direction: column;
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
}
.footer .footer__info .useful__info .shop__category .shop__category__list {
  margin-top: 45px;
  list-style-type: none;
}
.footer .footer__info .useful__info .shop__category .shop__category__list .shop__category__link {
  text-decoration: none;
  margin-bottom: 15px;
  color: #898989;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}
.footer .footer__info .useful__info .shop__category .shop__category__list .shop__category__link:hover {
  color: #f16d7f;
}

.rights__socials {
  margin-top: 95px;
  height: 80px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rights__socials .rights {
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  text-align: right;
}
.rights__socials .fab {
  padding: 10px;
  background-color: #fff;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}
.rights__socials .fab:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

/*# sourceMappingURL=style.css.map */
