* {
    margin: 0;
    padding: 0;
    outline: none;
}

.body {
    width: 1600px;
}
.container__content {
    width: 100%;
    margin: 0 auto;
}

.header {
    .top__info {
        display: flex;
        justify-content: space-between;
    }
    .logo__search {
        display: flex;
        margin-top: 25px;
        width: 59px;
        height: 51px;
        margin-left: 227px;
        align-items: center;
        .logo__text {
            padding-left: 13px;
            padding-right: 37px;
            text-decoration: none;
            font-family: Lato;
            font-size: 27px;
            line-height: 32px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222222;
            .logo__text__D {
                font-weight: 900;
                color: #f16d7f;
            }
        }
        .menu__search {
            display: flex;
            align-items: center;
            .browse__button {
                width: 87px;
                height: 36px;
                background-color: #cdcdcc;
                background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
                border: 1px solid #e6e6e6;
                border-radius: 3px 0px 0px 3px;
                font-family: Lato;
                font-size: 14px;
                line-height: 32px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #222222;
                text-align: center;
                position: relative;
                .browse__button__item {
                    display: none;
                    position: absolute;
                    flex-direction: column;
                    background-color: #ffffff;
                    border-radius: 5px;
                    width: 200%;
                    text-align: left;
                    padding: 15px;
                    top: 37px;
                    z-index: 10000;
                    .browse__button__heading {
                        font-family: Lato;
                        font-size: 14px;
                        line-height: 32px;
                        font-weight: 400;
                        text-transform: uppercase;
                        letter-spacing: 0.025em;
                        color: #232323;
                        border-bottom: 1px solid #e8e8e8;;
                    }
                    .browse__button__link {
                        font-family: Lato;
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: 400;
                        letter-spacing: 0.025em;
                        color: #4f4f4f;
                        text-decoration: none;
                        margin-top: 8px;
                    }
                    .browse__button__link:hover {
                        color: #f16d7f;
                    }
                }
            }
            .browse__button:hover .browse__button__item {
                display: flex;
            }
            .search {
                display: flex;
                max-height: 38px;
                .search__input {
                    width: 317px;
                    height: 36px;
                    background-color: #ffffff;
                    border: 1px solid #e6e6e6;
                    border-radius: 0px 3px 3px 0px;
                    font-family: Lato;
                    font-size: 14px;
                    line-height: 32px;
                    font-weight: 300;
                    letter-spacing: 0.025em;
                    color: #a4a4a4;
                    padding-left: 16px;
                }
                .search__button {
                    display: flex;
                    width: 27px;
                    height: 38px;
                    background-color: #ffffff;
                    border: 1px solid #e6e6e6;
                    border-radius: 0px 3px 3px 0px;
                    align-items: center;
                    justify-content: space-around;
                }
            }
        }
    }
    .cart__acc {
        display: flex;
        align-items: center;
        margin-top: 26px;
        .cart {
            width: 32px;
            height: 29px;
            padding-right: 26px;
        }
        .acc__menu {
            margin-right: 231px;
            .dropbtn {
                position: relative;
                border: none;
                width: 130px;
                height: 38px;
                background-color: #f16d7f;
                font-family: Lato;
                font-size: 15px;
                line-height: 32px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #ffffff;
            }
            .acc__content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                background-color: #ffffff;
                border-radius: 5px;
                font-family: Lato;
                font-size: 14px;
                line-height: 28px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #4f4f4f;
                text-decoration: none;
                margin-top: 8px;
                top: 60px;
            }
            .acc__link {
                color: black;
                padding: 12px 16px;
                text-decoration: none;  
            }
            .acc__link:hover {
                color: #f16d7f;
            }
        }    
    }
    .acc__menu:hover .acc__content{
        display: flex;
        flex-direction: column;
    }
}
.navigation {
    .menu {
        display: flex;
        justify-content: center;
        list-style-type: none;
        // margin: 0 auto;
        .menu__list {
            padding: 20px 25px;
            position: relative;
        }
        .menu__link {
            color: #222222;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    .mega__box {
        display: none;
        background-color: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        top: 48px;
        left: 0;
        z-index: 10000;
        .mega__item {
            margin-right: 46px;
        }
        .mega__item:last-of-type {
            margin-right: 0;
        }
        .mega__heading {
            color: #232323;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            width: 235px;
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 8px;
        }
        .mega__link {
            color: #646464;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 28px;
            text-decoration: none;
            display: block;
            margin-top: 8px;
        }
        .mega__link:hover {
            color: #f16d7f;
        }
    }
    .mega__box:before {
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        background-color: #ffffff;
        position: absolute;
        top: -7px;
        left: 35px;
        transform: rotate(45deg);
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
    }
    .menu__list:hover .mega__box {
        display: flex;
    }
    .last:hover .mega__box {
        right: 0;
        left: auto;
    }
    .last:hover .mega__box:before {
        right: 55px;
        left: auto;
    }
}
.content {
    padding-top: 24px;
    .brand__banner {
        height: 665px;
        background-image: url(images/brand_banner_bg.png);
        background-repeat: no-repeat;
        // background-size: cover;
        // width: 1600px;
        background-color: #e8e8e8;
        .brand__banner__text {
            display: flex;
            margin-left: 230px;
            padding-top: 276px;
        }
        .vertline {
            margin-right: 12px;
            width: 12px;
            height: 92px;
            background-color: #f16d7f;
        }
        .text__box {
            display: flex;
            flex-direction: column;
            margin-top: 1px;
            line-height: 0.8;
        }
        .text__heading {
            font-family: Lato;
            font-size: 60px;
            // line-height: 1.2;
            font-weight: 900;
            letter-spacing: 0.025em;
            color: #222222;
        }
        .text__banner {
            font-family: Lato;
            font-size: 40px;
        }
        .text__fashion {
            font-family: Lato;
            font-size: 40px;
            color: #f16d7f;
        }
    }
    .card__block {
        display: flex;
        justify-content: center;
        // width: 1600px;
        margin: 0 auto;
        .card__block__left {
            display: flex;
            flex-direction: column;
            // margin-left: 230px;
            margin-top: 98px;;
        }
        .card__block__left__big {
            width: 560px;
            height: 542px;
            background-image: url(images/card_block_left_big_bg.png);
            .card__block__left__text {
                margin-top: 26px;
                width: 175px;
                height: 82px;
                background-color: #ffffff;
            }
            .card__block__left__text__content {
                font-family: Lato;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #222222;
                padding: 16px;
            }
            .for__men {
                font-family: Lato;
                font-size: 30px;
                color: #f16d7f;
            }
        }
        .card__block__left__small {
            width: 560px;
            height: 261px;
            background-image: url(images/card_block_left_small_bg.png);
            margin-top: 20px;
            .card__block__left__small__text {
                margin-top: 25px;
                width: 225px;
                height: 82px;
                background-color: #fff;
            }
            .card__block__left__small__text__content {
                font-family: Lato;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #222222;
                padding: 16px;
            }
            .accesories {
                font-size: 30px;
                color: #f16d7f;
            }
        }
        .card__block__right {
            display: flex;
            flex-direction: column;
            .card__block__right__small {
                width: 560px;
                height: 261px;
                background-image: url(images/card_block_right_small_bg.png);
                margin-top: 98px;
                margin-left: 21px;
                .card__block__right__small__text {
                    margin-top: 26px;
                    width: 162px;
                    height: 82px;
                    background-color: #ffffff;
                }
                .card__block__right__small__text__content {
                    font-family: Lato;
                    font-size: 18px;
                    line-height: 1.2;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 0.025em;
                    color: #222222;
                    padding: 16px;
                }
                .women {
                    font-size: 30px;
                    color: #f16d7f;
                }
            }
            
            .card__block__right__big {
                width: 560px;
                height: 542px;
                background-image: url(images/card_block_right_big_bg.png);
                margin-top: 20px;
                margin-left: 20px;
                .card__block__right__big__text {
                    width: 180px;
                    height: 82px;
                    background-color: #ffffff;
                    margin-top: 27px;
                }
                .card__block__right__big__text__content {
                    font-family: Lato;
                    font-size: 18px;
                    line-height: 1.2;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 0.025em;
                    color: #222222;
                    padding: 16px;
                }
                .for__kids {
                    font-size: 30px;
                    color: #f16d7f;
                }
            }
        }
    }
    .featured__items {
        padding-top: 100px;
        .featured__items__header {
            color: #222222;
            font-family: Lato;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: center;
        }
        .featured__text {
            color: #9f9f9f;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            // line-height: 54px;
            text-align: center;
        }
        .featured__items__top {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            margin-left: 232px;
            margin-right: 229px;
        }
        .featured__items__card {
            display: flex;
            // flex-direction: column;
            width: 260px;
            // height: 280px;
            position: relative;
        }
        .txt__box {
            padding: 15px;
        }
        .featured__items__card:hover {
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
        }
        .featured__items__card:hover .item__img {
            filter: brightness(50%);
        }
        .featured__items__link {
            display: block;
            text-decoration: none;
        }
        .item__img {
            width: 100%;
        }
        .add__box {
            position: absolute;
            top: 98px;
            width: 100%;
            display: none;
            justify-content: center;
        }
        .featured__items__buy {
            display: flex;
            align-items: center;
            padding: 10px;
            border: 1px solid #fff;
            text-decoration: none;
            .add__text {
                color: #ffffff;
                font-family: Lato;
                font-size: 13px;
                font-weight: 700;
                margin: 0 auto;
                margin-left: 8px;
            }
        }
        .featured__items__buy:hover {
            box-shadow: 0 0px 10px #ffffff;
        }
        .featured__items__card:hover .add__box {
            display: flex;
        }
        .featured__items__text {
            color: #222222;
            font-family: Lato;
            font-size: 13px;
            font-weight: 600;
            // padding: 20px 0 0 14px;
            text-transform: uppercase;
        }
        .featured__items__price {
            margin-top: 20px;
            // margin-left: 14px;
            color: #f16d7f;
            font-family: Lato;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .featured__items__bot {
            display: flex;
            margin-top: 120px;
            margin-left: 232px;
            margin-right: 229px;
            justify-content: space-between;
        }
    }
    .browse__all__products {
        margin-top: 140px;
        display: flex;
        justify-content: center;
        // width: 1600px;
        .browsebtn {
            width: 212px;
            height: 48px;
            background-color: #f16d7f;
            // margin-left: 694px;
            border: none;
        }
        .browsebtn__text {
            color: #ffffff;
            font-family: Lato;
            font-size: 16px;
            font-weight: 700;
        }
    }
    .info__banner {
        margin-top: 115px;
        // margin-left: 115px;
        display: flex;
        justify-content: center;
        // width: 1600px;
        // margin: 0 auto;
        .discount__info{
            background-image: url(images/discount_info_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 765px;
            height: 530px;
        }
        .discount__info__text {
            color: #ffffff;
            font-family: Lato;
            font-size: 54px;
            font-weight: 700;
            margin-top: 145px;
            margin-left: 40px;
            line-height: 40px;
            .discount__info__offer {
                color: #f16d7f;
                letter-spacing: 1.5px;
            }
            .discount__info__women {
                font-size: 32px;
                letter-spacing: 0.9px;
            }
        }
        .delivery__info {
            display: flex;
            flex-direction: column;
            padding-left: 36px;
            width: 340px;
            background-color: #222224;
            height: 530px;
            .delivery {
                margin-top: 15px;
                display: flex;
                .delivery__img {
                    width: 45px;
                    height: 30px;
                }
                .delivery__heading {
                    color: #fbfbfb;
                    font-family: Lato;
                    font-size: 20px;
                    font-weight: 700;
                    margin-left: 30px;
                }
                .delivery__text {
                    color: #fbfbfb;
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                    margin-top: 15px;
                    margin-right: 40px;
                }
            }
            .sale__info {
                margin-top: 55px;
                display: flex;
                .sale__img  {
                    width: 40px;
                    height: 40px;
                }                
                .sale__info__heading {
                    color: #fbfbfb;
                    font-family: Lato;
                    font-size: 20px;
                    font-weight: 700;
                    margin-left: 30px;
                    padding-top: 8px;
                }
                .sale__info__text {
                    color: #fbfbfb;
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                    margin-top: 15px;
                    margin-right: 40px;
                }
            }
            .quality__info {
                margin-top: 55px;
                display: flex;
                .quality__img {
                    width: 45px;
                    height: 35px;
                }
                .quality__info__heading {
                    color: #fbfbfb;
                    font-family: Lato;
                    font-size: 20px;
                    font-weight: 700;
                    margin-left: 30px;
                    padding-top: 8px;
                }
                .quality__info__text {
                    color: #fbfbfb;
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 24px;
                    margin-top: 15px;
                    margin-right: 40px;
                }
            }
        }
    }
    .item__breadcrumb {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f8f3f4;
        height: 150px;
        .item__header {
            font-family: Lato;
            font-size: 24px;
            line-height: 20px;
            font-weight: 900;
            text-transform: uppercase;
            color: #f16d7f;
        }
        .breadcrumb {
            font-family: Lato;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            text-transform: uppercase;
            color: #636363;
            .breadcrumb__item__link {
                text-decoration: none;
                font-family: Lato;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                text-transform: uppercase;
                color: #636363;
            }
            .active {
                font-family: Lato;
                font-size: 14px;
                line-height: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: #f16d7f;
            }
            .breadcrumb__item__link:hover {
                font-weight: 700;
                color: #f16d7f;
            }
        }
    }
    .item__img__sp {
        background-color: #f7f7f7;
        border: 1px solid #eaeaea;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .carousel__btn {
        width: 45px;
        height: 45px;
        background-color: rgba(42,42,42,0.14);
    }
    .hr {
        margin-top: 755px;
        color: #ffffff;
    }
    .item__desc {
        position: absolute;
        left: 22%;
        margin-top: -45px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        height: 730px;
        .item__desc__header {
            font-family: Lato;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #f16d7f;
            border-bottom: 1px solid #eaeaea;
            margin-top: 70px;
            padding-bottom: 15px;
        }
        .item__desc__heading {
            font-family: Lato;
            font-size: 18px;
            line-height: 24px;
            font-weight: 900;
            text-transform: uppercase;
            color: #4d4d4d;
            margin-top: 20px;
        }
        .item__desc__text {
            width: 50%;
            font-family: Lato;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #5e5e5e;
            margin-top: 65px;
            text-align: center;
        }
        .item__desc__matDes {
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
            .item__desc__material {
                font-family: Lato;
                font-size: 14px;
                line-height: 24px;
                font-weight: 700;
                color: #b9b9b9;
                margin-right: 5%;
                .material {
                    color: #2f2f2f;
                }
            }
            .item__desc__designer {
                font-family: Lato;
                font-size: 14px;
                line-height: 24px;
                font-weight: 700;
                color: #b9b9b9;
                .designer {
                    color: #2f2f2f;
                }
            }
        }
        .item__desc__price {
            font-family: Lato;
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
            color: #ef5b70;
            padding-bottom: 40px;
            border-bottom: 1px solid #eaeaea;
            text-align: center;
            margin-top: 40px;
        }
    }
    .item__specs {
        display: flex;
        flex-direction: column;
        margin-top: 65px;
        .item__specs__type {
            display: flex;
            justify-content: space-evenly;
            font-family: Lato;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #2f2f2f;
        }
        &__input {
            @mixin inputStyle {
                width: 85%;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                outline: none;
                padding-left: 5px;
            }
            &__color {
                @include inputStyle();
            }
            &__size {
                @include inputStyle();
            }
            &__quantity {
                @include inputStyle();
            }
        }
        &__color {
            display: flex;
            flex-direction: column;
        }
        &__size {
            display: flex;
            flex-direction: column;
        }
        &__quantity {
            display: flex;
            flex-direction: column;
        }
        &__buy {
            outline: none;
            background-color: #ffffff;
            border: 1px solid #636363;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            color:#636363;
            height: 55px;
            transition: all 0.3s;
            margin-top: 30px;
        }
        &__buy:hover {
            color: #ef5b70;
            border-color: #ef5b70;
        }
        &__cart {
            margin-right: 15px;
        }
    }
    .suggestions__items__header {
        font-family: Lato;
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        text-align: center;
    }
}
.footer {
    .subscribe__review {
        display: flex;
        background-image: url(images/subscribe_review_bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        height: 435px;
        margin-top: 97px;
        justify-content: space-evenly;
        margin-left: -15px;
        // background-color: #f2f2f2;
        // filter: opacity(50%);
    }
    .review{
        width: 800px;
        border-right: 1px solid #ffffff;
        .review__figure {
            display: flex;
            margin-top: 110px;
            // margin-left: 240px;
            justify-content: center;
            .figure__text {
                margin-left: 28px;
                margin-right: 70px;
                color: #222224;
                font-family: Lato;
                font-size: 16px;
                font-style: italic;
                line-height: 26px;
                .figure__heading {
                    margin-top: 20px;
                    color: #222224;
                    font-family: "Lato Light";
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 6px;
                    .figure__heading__color {
                        color: #f16d7f;
                        font-family: "Lato - Bold";
                        font-weight: 700;
                        font-style: normal;
                        letter-spacing: 0.4px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
    .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // .subscribe__info {
        //     // margin-left: 145px;
        // }
        .subscribe__heading {
            text-align: center;
            font-size: 24px;
            font-style: normal;
            letter-spacing: 0.6px;
            line-height: 35px;
            text-transform: uppercase;
            font-family: Lato;
            font-weight: 400;
        }
        .subscribe__text {
            letter-spacing: 0.35px;
            font-family: Lato;
            font-weight: 400;
            text-align: center;
        }
        .subscribe__form {
            display: flex;
            margin-top: 35px;
            // margin-left: 90px;
            height: 45px;
            .subscribe__input {
                width: 335px;
                border-radius: 20px 0 0 20px;
                background-color: #e1e1e1;
                border: 0px;
                padding-left: 25px;
            }
            .subscribe__button {
                width: 105px;
                border-radius: 0 23px 23px 0;
                background-color: #f16d7f;
                color: #ffffff;
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                // line-height: 54px;
                text-align: center;
                border: 0px;
            }
        }
    }
    .footer__info {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        margin-top: 110px;
        .brand__info {
            display: flex;
            flex-direction: column;
            margin-left: 225px;
        }
        .brand__logo {
            display: flex;
            align-items: center;
            .logo__text {
                padding-left: 13px;
                padding-right: 37px;
                text-decoration: none;
                font-family: Lato;
                font-size: 27px;
                line-height: 32px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #222222;
                .logo__text__D {
                    font-weight: 900;
                    color: #f16d7f;
                }
            }    
        }
        .brand__text {
            color: #898989;
            font-family: Lato;
            font-size: 14px;
            font-weight: 300;
            width: 425px;
            margin-right: 65px;
            margin-top: 45px;
        }
        .useful__info {
            display: flex;
            justify-content: space-evenly;
            flex-grow: 1;
            margin-top: 30px;
            .company {
                display: flex;
                flex-direction: column;
                color: #f16d7f;
                font-family: Lato;
                font-size: 18px;
                font-weight: 700;
                .company__list {
                    margin-top: 45px;
                    list-style-type: none;
                    .company__link {
                        text-decoration: none;
                        margin-bottom: 15px;
                        color: #898989;
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .company__link:hover {
                        color:  #f16d7f;
                    }
                }
            }
            .information {
                display: flex;
                flex-direction: column;
                color: #f16d7f;
                font-family: Lato;
                font-size: 18px;
                font-weight: 700;
                .information__list {
                    margin-top: 45px;
                    list-style-type: none;
                    .information__link {
                        text-decoration: none;
                        margin-bottom: 15px;
                        color: #898989;
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .information__link:hover {
                        color:  #f16d7f;
                    }
                }
            }
            .shop__category {
                display: flex;
                flex-direction: column;
                color: #f16d7f;
                font-family: Lato;
                font-size: 18px;
                font-weight: 700;
                .shop__category__list {
                    margin-top: 45px;
                    list-style-type: none;
                    .shop__category__link {
                        text-decoration: none;
                        margin-bottom: 15px;
                        color: #898989;
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .shop__category__link:hover {
                        color:  #f16d7f;
                    }
                }
            }
        }
    }
}
.rights__socials {
    margin-top: 95px;
    height: 80px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .rights {
        color: #7a7a7a;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 42px;
        text-align: right;
    }
    .fab {
        padding: 10px;
        background-color: #fff;
        color: #b2b2b2;
        font-size: 16px;
        font-weight: 400;
    }
    .fab:hover {
        background-color: #f16d7f;
        color: #f7f7f8;;
    }
}